<h1 class="mt-5">A Welcome to InstaTeddy</h1>
<p class="lead">This is an instagram only for Teddy chonks pictures and comments.</p>
<p>Please sign up or sign in</p>
<%= link_to "Sign up", new_account_registration_path, class: "btn btn-primary" %>
<%= link_to "Sign in", new_account_session_path, class: "btn btn-success" %>